body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}

.container {
    display: flex;
}

aside {
    width: 20%;
    background-color: #e0e0e0;
    padding: 20px;
}

section {
    width: 80%;
    padding: 20px;
}

footer {
    background-color: #f0f0f0;
    text-align: center;
    padding: 20px;
}

.a1 {
    display: flex;
}

.box1 {
    background-color: #d1e7dd; /* สีเขียวอ่อน */
    padding: 20px;
    margin: 10px;
    flex: 1;
}

.box2 {
    background-color: #f8d7da; /* สีแดงอ่อน */
    padding: 20px;
    margin: 10px;
    flex: 1;
}

.box3 {
    background-color: #fff3cd; /* สีเหลืองอ่อน */
    padding: 20px;
    margin: 10px;
    flex: 1;
}